@value makerGreen from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  background-color: #fff;
  background-color: wheat;
  padding: 3em;
}

.title {
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}